body {
  /* background-color: navy; */
  background-image: url("https://miro.medium.com/max/1400/1*7xUpmvZr0uzHMC4paUmV2w.jpeg");
  color: gold;
  font-family: 'Anton';
  text-align: center;
  border: 1px solid skyblue;
  /* margin: 0 auto; */
  /* padding: 100px; */
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  border: 1px solid gold;
}

input, button {
  background: ivory;
}
input:hover{
  background: gold;
}
button:hover {
  background: gold;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.new-park-form {
  text-align: center;
}

.parkContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#recent-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#recent-parks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#submit-park-container {
  text-align: center;
}

.parkCard {
  margin: 5px;
  padding: 5px;
}

form {
  text-align: center;
}
